ProjetJAVACESI/plan.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="X" use="required"/>
                <xs:attribute type="xs:byte" name="Y" use="required"/>
                <xs:attribute type="nonEmptyString" name="type" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="colonnes" use="required"/>
      <xs:attribute type="xs:byte" name="lignes" use="required"/>
    </xs:complexType>
  </xs:element>
<xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
 <xs:pattern value="(porte|ecran|hand|normal|allee)" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>